.App
{
  /*border: 1px solid blue;
  width: 100%;*/
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#home-div{
  display: relative;
  margin-top: 30px;
  animation-name: loadHomeUI;
  animation-duration: 3s;
  /*animation-iteration-count: infinite;
  animation-direction: alternate;*/
}

@keyframes loadHomeUI {
  from 
  {
    margin-top: 500px;
  }

  to
  {
    margin-top: 30px;
  }
}



