#home-animaiton-container{
    display: relative;
    margin-top: 30px;
    animation-name: loadHomeUI;
    animation-duration: 3s;
    /*animation-iteration-count: infinite;
    animation-direction: alternate;*/
  }
  
  @keyframes loadHomeUI {
    from 
    {
      margin-top: 500px;
    }
  
    to
    {
      margin-top: 30px;
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

#home{
    margin-top:20%;
    margin: 10%;
    text-align: left;
    font-size:1.5em;
    /*border: 1px solid green;*/
}

#home-buttons-container{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;

}

#home-buttons-container button
{
    width:30%;
    height:90px; 
    padding: 10px;
    font-size: 0.8em;
}

.floatblock p{
    text-align: center;
    color:rgb(37, 6, 74)
}
#intro *{
    color:aliceblue;
    font-size:1em;
}

.floatblock
{
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 20;
 
  background-image: linear-gradient(30deg, rgb(138, 140, 206), rgb(213, 76, 215));

  top: 0px;
  width: 300px;
  height: 400px;
  animation-name: moveblock1;
  
  opacity: 0.5;

  box-shadow: 10px 5px 100px;
  z-index:-2;
  
 
  animation-duration: 50s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#introduction
{
    font-family: "Monospace";

}

@keyframes moveblock1 {
    from{
      /*top: 40px;*/
      transform :translateY(30px) translateX(20px) rotateX(360deg) rotateY(360deg)  rotateZ(360deg);
    }
   
    to{
       /*top: 50px;*/
       transform :translateY(70px) translateX(300px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    
  }

@media only screen and (max-width: 1080px)
{
    #home-buttons-container button
    {
        width:80%;
        height: 100px;
        margin: 5%;
    }
    #home{
        margin: 5%;
    }

    #home-buttons-container{
        flex-direction: column;
    }
}