:root{
  --my-bg-color: rgb(53, 179, 199);
  --my-btn-txt-color: rgb(230, 230, 240);
}



body {
  margin: 0;
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
    font-family: Arial,Verdana,Tahoma,"Trebuchet MS","Times New Roman";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:linear-gradient(120deg,rgb(62, 54, 81),rgb(114, 58, 205),rgb(104, 55, 107), rgb(57, 57, 118));
  background-attachment: fixed;

  

}

#root{
 /* border: 1px solid black;*/
  
  padding: 10px;
  color: aliceblue;
 /* border: 2px solid blue;*/
 

}


button, button{
 
  margin-right:5%;
  
  background-color: var(--my-bg-color);
  color:var(--my-btn-txt-color);
  border:none;
  box-shadow: 1px 1px 1px;
  border-radius: 6px;
}

button:hover, button:hover
{
  background-color: var(--my-btn-txt-color);
  color:var(--my-bg-color);
  cursor: pointer;
}

button:active, button:active
{
  box-shadow: 0px 0px 0px;
  transform: translate(1px,1px);
}


