



#user-console-left-part
{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.edit-basics
{
    width:auto;
}
#uc-payee-list,#uc-client-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#user-console-left-part button
{
    width: auto;
    height:auto;
    padding: 5px 5px;
}

#uc-user-basic-fieldset
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#uc-user-basic-fieldset > button
{
    width:15%;
    height: 60px;
    margin: 5px;
}

#user-console-left-part  fieldset
{
    display: inline-block;
    width: auto;
    margin:10px;
    background-color: rgb(118, 95, 176);
    border:none;
    box-shadow: 3px 3px 5px rgb(202, 204, 215);
    border-radius: 3px 3px;
  
   /* border:2px solid rgb(53, 179, 199);*/
}

#user-console-left-part  > fieldset  fieldset
{
    background-color: rgb(107, 141, 194);
}

#user-console-left-part  > fieldset  fieldset:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

#user-console-left-part > fieldset > h2
{
    font-weight: bold;
    font-size: 1.5em;
    color:aqua
}

.uc-add-button-container p
{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    vertical-align: middle;
}
.edit-basics
{
    display: inline-block;
}

.uc-add-button-container:hover
{
    cursor: pointer;

}

.uc-list-button-container
{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}

#user-console-left-part fieldset div{
    padding: 5px;
}

#user-console-left-part fieldset label
{
/*    display: grid;
    grid-template-columns: 30% 70%;*/
   display: inline-block;
   width:30%;
   text-align: right;
   margin-right: 5px;
   text-transform: capitalize;
    /*border: 1px solid red;*/
}

#user-console-left-part fieldset input
{
    width:65%;
    background-color:transparent;
    border: none;
    outline: none;
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
}

@media only screen and (max-width: 1080px)
{
    #user-console-UI
    {
        display: flex;
        flex-direction:column;
        margin-top: 20px;
    }

   #user-console-left-part
   {
       width:auto;
       font-size: 1em;
   }

#uc-user-basic-fieldset
{
    display: flex;
    flex-direction: column;
}
#uc-user-basic-fieldset button {
    width: 70%;
    font-size: 1.2em;
}

#uc-payee-list,#uc-client-list{
    display: flex;
    flex-direction: column;
}

}